.asterisk {
    font-style: normal;
    color: red;
}
.admin-hide {
    display: none;
}
.records {
    color: red;
    font-weight: bold;
}
[data-notify="container"] {
    width: auto;
}
[data-notify="message"] {
    padding-left:10px;
    padding-right:10px;
}