<?xml version="1.0"?>
<configuration>
	<!-- %p级别 %m消息 %c.%M包+方法 %F:%L文件+行 -->
	<property name="pattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %p | %m | %thread | %c.%M | %F:%L %n" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<!-- 文件输出 -->
	<!-- <appender name="LOGS"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/wetech-web.log</file>
		按天滚动 保存30天
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.home}/logs/wetech-web-%d{MMdd}-%i.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			超过指定大小滚动当天日志
			<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>50MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender> -->
	<!-- 异步输出 -->
	<appender name ="ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
            <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
            <discardingThreshold>0</discardingThreshold>
            <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
            <queueSize>1024</queueSize>
            <!-- 添加附加的appender,最多只能添加一个 -->
         	<appender-ref ref ="LOGS"/>
	</appender>
	
	<!-- 业务日志记录  -->
	<!-- <logger name="com.yixan" level="ALL" additivity="true">
		<appender-ref ref="ASYNC" />
	</logger>
	<logger name="com.cttq.cim" level="ALL" additivity="true">
		<appender-ref ref="ASYNC" />
	</logger> -->
	<logger name="tech.wetech" level="ALL" additivity="true">
		<appender-ref ref="ASYNC" />
	</logger>
	
	<logger name="tech.wetech" level="ALL" additivity="true">
		<appender-ref ref="ASYNC" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ASYNC" />
	</root>

</configuration>